import(methods)
importFrom(stats, predict)
importFrom(stats4, AIC, BIC, logLik)
importFrom(lattice, xyplot)

export(
	ALCOVE,	
	GCM,
	RescorlaWagner,
	SLFN,
	GaussianMixtureResponse,
	GaussianResponse,
	RatioRuleResponse	
)

exportClasses(
	LearningModel,
	ResponseModel,
	McplModel,
	ALCOVE,
	GCM,
	GCMinterval,
	GCMnominal,
	RescorlaWagner,
	SLFN,
	GaussianMixtureResponse,
	GaussianResponse,
	RatioRuleResponse
)

exportMethods(
	logLik,
	AIC,
	AICc,
	BIC,
	Rsq,
	estimate,
	fit,
	setPars,
	getPars,
	predict,
	show,
	summary
)
