import(methods)
importFrom(graphics, plot)
importFrom(stats, predict)
importFrom(stats4, AIC, BIC, logLik, summary)
importFrom(lattice, xyplot)

export(
	ALCOVE,
	ALCOVElearning,
	GCM,
	gGCM,
	RescorlaWagner,
	SLFN,
	GaussianMixtureResponse,
	GaussianResponse,
	GlmResponse,
	RatioRuleResponse,
	MaxResponse,
	McplModel
)

exportClasses(
	LearningModel,
	ResponseModel,
	McplModel,
	Unconstrained,
	BoxConstraints,
	LinearConstraints,
	ParStruct,
	TransParStruct,
  LinearConstraintsParStruct,
  SimpleConstraintsParStruct,
	ALCOVE,
	ALCOVElearning,
	GCM,
	GCMlearning,
	GCMresponse,
	gGCM,
	gGCMinterval,
	gGCMnominal,
	GlmResponse,
	RescorlaWagner,
	SLFN,
	GaussianMixtureResponse,
	GaussianResponse,
	RatioRuleResponse,
	MaxResponse
)

exportMethods(
  dens,
	logLik,
	AIC,
	AICc,
	BIC,
	fit,
	getPars,
	getFreePars,
	#getTransPars,
	lFr,
	predict,
	rFl,
	Rsq,
	runm,
	setPars,
	setFreePars,
	#setTransPars,
	setConstraints,
	getConstraints,
	#canRepar,
	show,
	summary
)
