import(methods)

importFrom(stats, predict)
importFrom(stats4, AIC, BIC, logLik, plot, summary)

export(
	ALCOVE,	
	GCM,
	RescorlaWagner,
	SLFN
)

exportClasses(
	LearningModel,
	ResponseModel,
	McplModel
)

exportMethods(
	logLik,
	AIC,
	AICc,
	BIC,
	RSquare,
	estimate,
	fit,
	setPars,
	getPars,
	predict,
	show,
	summary
)
